html {
  scroll-behavior: smooth;
}

body {
  font-family:"メイリオ", "Meiryo","ＭＳ ゴシック","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",sans-serif; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.midasi {
	position: relative;
	left: 20px;
	font-size: 30px;
	font-weight: bold;;
	color: #000030;
	padding: 5px;
	margin: 5px;
	border-left: 4px solid #000090;
}
.m1 {
	position: relative;
	left: 25px;
	font-size: 25px;
	font-weight: bold;
	color: #000040;
}
.ho1 {
	position: relative;
	left: 28px;
}
.title {
	position: relative;
	left: 10px;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 2px dotted #dddddd;
	padding: 4px;
}
.kmd {
	position: relative;
	left: 10px;
	font-size: 25px;
	font-weight: bold;
	padding: 2px;
}
.ser {
	position: relative;
	left: 20px;
	font-size: 16px;
	color: #300000;
	font-weight: bold;
}
.foot {
	background: #000020;
	color: #ffffff;
	width: 98vw;
	height: fit-context;
	padding: 1vw;
}
.asyicon {
        position: absolute;
        width: 30px;
        left: 6px;
        opacity: 0.4;
}
.depre {
	position: relative;
	left: 20px;
	line-height: 1.5em;
	background: #000000;
	color: #ffffff;
	width: fit-content;
	padding: 4px;
	border-radius: 3px;
}
