html {
  scroll-behavior: smooth;
}

body {
  font-family:"メイリオ", "Meiryo","ＭＳ ゴシック","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",sans-serif; 
  margin: 10px;
  padding: 10px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
pre::selection {
  background-color: #ffb800;
}
img::selection {
  background-color: #1aff86;
}

.title {
  position: relative;
  color: #000000;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.05em;
  margin: 10px auto 5px 10px;
}
.ho1 {
  position: relative;
  color: #000030;
  left: 30px;
}
.kmd {
  position: relative;
  color: #101050;
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto 4px 15px;
  max-width: 810px;
  border-bottom: 2px dotted #8080a5;
}
.mkmd {
  position: relative;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 5px auto 8px 20px;
  border-left: 6px double #32a1ce;
}
.im81 {
  max-width: 450px;
}
table {
  margin: 10px;
}
.nimg {
  max-height: 400px;
  position: relative;
  left: 35px;
  border: 2px solid #000000;
  border-radius: 3px 3px 3px 0;
  margin: 15px auto 10px 0;
}

.bg_i {
  position: fixed;
  width: 50px;
  right: 30px;
  top: 30px;
}

.sider {
  position: fixed;
  padding: 100px 30px 30px 30px;
  background: #000070;
  min-height: 100vh;
  top: 0px;
  right: 0px;
  color: #eeeeee;
  line-height: 2.5;
}
