html {
  scroll-behavior: smooth;
}

body {
  font-family:"メイリオ", "Meiryo","ＭＳ ゴシック","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",sans-serif; 
  margin: 0;
  padding: 10px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
pre::selection {
  background-color: #ffb800;
}
img::selection {
  background-color: #1aff86;
}

.title {
  position: relative;
  color: #000000;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.05em;
  margin: 10px auto 5px 10px;
}
.ho1 {
  position: relative;
  color: #000030;
  left: 30px;
}
.kmd {
  position: relative;
  color: #101050;
  font-size: 24px;
  font-weight: bold;
  margin: 10px auto 4px 15px;
  border-bottom: 2px solid #8080a5;
}
